<je-wizard #wizard [steps]="steps" (stepChange)="step.set($event.detail)"/>

<je-form id="new-case-form" (submit)="wizard.next()">
    <div id="steps-container" class="je-padding-vertical-lg">
        @switch (step()) {
            @case (0) {
                <je-textfield required label="First Name"/>
                <je-textfield label="Middle Name"/>
                <je-textfield required label="Last Name"/>
                <je-textfield required label="Date of Birth"/>
                <je-textfield label="Gender"/>
                <je-textfield required label="Phone"/>
                <je-textfield label="Alt Phone"/>
                <je-textfield required label="Email"/>
                <je-textfield label="Alt Contact"/>
                <je-textfield label="Alt Contact Phone"/>
                <je-textfield required label="SSN"/>
            }
            @case (1) {
                <je-textfield required label="Address"/>
                <je-textfield label="Marital Status"/>
                <je-textfield label="Spouse or Ex"/>
                <je-textfield label="Maiden Name"/>
                <je-textfield label="Mother's Last Name"/>
                <je-textfield label="High School"/>
                <je-textfield label="College"/>
                <je-checkbox>Prior Filing?</je-checkbox>
                <je-textfield label="Date Last Worked"/>
                <je-textfield multiline required label="Work History"/>
                <je-textfield multiline required label="Impairments"/>
                <je-textfield multiline required label="Medical"/>
                <je-textfield required label="Pharmacy"/>
                <je-textfield multiline required label="Notes"/>
                <je-textfield label="Referral"/>
                <je-checkbox>Fee Agreement?</je-checkbox>
            }
            @case (2) {
                <p>Step 3</p>
            }
        }
    </div>
</je-form>
