.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  width: 100%;
  background-color: light-dark(var(--je-secondary-200), var(--je-secondary-800));
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--je-spacing-md);
}
