@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Work Sans";
  font-size: var(--bc-scale, 16px);
  line-height: 1.75;
  font-weight: 400;
}

body.light {
  color-scheme: light;
}

body.dark {
  color-scheme: dark;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}
