<h3>{{business.value()?.display_name}}</h3>

<je-toolbar>
    <h4>Cases</h4>
    <je-tooltip slot="end" content="Edit case groupings">
        <je-icon-button icon="edit"/>
    </je-tooltip>
    <je-tooltip slot="end" content="Add new case">
        <je-icon-button (click)="openCaseWizard()" icon="add"/>
    </je-tooltip>
</je-toolbar>

<je-tree selection="single" (valueChange)="setGroup($event.detail)">
    @for (item of caseGroups.value(); track item.id) {
        <ng-container [ngTemplateOutlet]="branch" [ngTemplateOutletContext]="{ $implicit: item }"/>
    }
</je-tree>

<ng-template #branch let-item>
    <je-branch [value]="item.id" [label]="item.title">
        @for (child of item.children; track child.id) {
            <ng-container [ngTemplateOutlet]="branch" [ngTemplateOutletContext]="{ $implicit: child }"/>
        }
    </je-branch>
</ng-template>
